body{
   font-family: 'Merriweather', serif;
   background: var(--primary-color);
}

.nav-container{
   background: var(--primary-color);
   /* color: var(--primary-color); */
}

nav{
   width: 90%;
   margin: 0 auto;
   max-width: 1366px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 10vh;
   font-size: 16px;
}

nav .logo{
   font-family: 'Merriweather', serif;
   text-transform: uppercase;
   font-weight: bold;
   color: var(--secondary-color);
   flex: 1.5;
   text-decoration: none;
   font-size: 2.4rem;
   margin-bottom: 0;
}

nav ul{
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   flex: 2.5;
}

nav ul li a{
   display: block;
   color: var(--secondary-color);
   text-decoration: none;
}

nav ul li a:hover{
   color: rgb(16, 165, 165);
}

:root{
   --primary-color: #edf2fc;
   --secondary-color: #212121;
}

.dark-theme{
   --primary-color: #000106;
   --secondary-color: #fff;  
}

#icon{
   width: 30px;
   cursor: pointer;
}

nav ul{
   flex: 1;
   text-align: right;
}

.photo{
    height:800px;
    width:100%;
    background-image:url("./back.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   display:flex;
   }
   
  .Haly{
    height:50px;
    width:100%;
    border:1px var(--primary-color);
    background:;
    color: var(--secondary-color);
    word-spacing:20px;
    }
  /اكواد اللينكات css/  
  a{
    color: var(--primary-color);
    cursor:auto;
    font-size:50px;
    font-family:Fantasy;
    text-align:center;
    text-decoration:none;
    }
    
  a:hover{
    color:var(--secondary-color);
    font-size:30;
    } 
    
  .title:hover{
    color:gray;
    font-size:50px;
    }
   /* كود كلمه شوب ناو*/  
  .sh{
     width:100px;
     height:100px;
     background:var(--secondary-color);
     color:gray;
     font-size:25px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:925px;
     left:100px;
     border-radius:100px;
     text-align:center;
     }
   
  .sh:hover{
      background:#40E0D0;
      }
  
    /* .R{
    text-align:center;
    }
  
  .N{
    font-size:25px;
    text-align:center;
    }
    
  .R{
    font-size:25px;
    text-align:center;
    } 
    
  .M{
    font-size:25px;
    text-align:center;
    }
      /كود تظبيط button الصورة الاولي/
  .D{
     width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:200px;
     left:40px;
     border-radius:10px;
     text-align:center;
     }
     
  .D:hover{
     background:#00FFFF;
  }
     /كود تظبيط button الصورة التانية/
  .A{
    width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:200px;
     left:360px;
     border-radius:10px;
     text-align:center;
     }
     
  .A:hover{
     background:#00FFFF;
  }
     /كود تظبيط button الصورة التالتة/
  .Y{
    width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:200px;
     left:670px;
     border-radius:10px;
     text-align:center;
     }
     
  .Y:hover{
     background:#00FFFF;
     }
      /كود تظبيط button الصورة الرابعة/
  .x{
    width:230px;
    height:60px;
    background:black;
    color:#5F9EA0;
    font-size:45px;
    border:1px var(--secondary-color);
    position:absolute;
    bottom:-210px;
    left:40px;
    border-radius:10px;
    text-align:center;
     }
     
  .x:hover{
     background:#00FFFF; 
     } 
      /كود تظبيط button الصورة الخامسة/
  .Z{
    width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:-210px;
     left:360px;
     border-radius:10px;
     text-align:center;
     }
     
  .Z:hover{
     background:#00FFFF;
  }
    /كود تظبيط button الصورة السادسة/
  .L{
    width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:-210px;
     left:670px;
     border-radius:10px;
     text-align:center;
     }
     
  .L:hover{
     background:#00FFFF;
     }
    /كود تظبيط button الصورة السابعة/
  .F{
    width:230px;
     height:60px;
     background:black;
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:-630px;
     left:40px;
     border-radius:10px;
     text-align:center;
     }
     
  .F:hover{
     background:#00FFFF;
  }
  /*كود تظبيط button الصورة التامنة */
  .Q{
    width:230px;
     height:60px;
     background:var(--secondary-color);
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:-630px;
     left:360px;
     border-radius:10px;
     text-align:center;
     }
     
  .Q:hover{
     background:#00FFFF;
  }
  /كود تظبيط button اخر صورة/
  .U{
    width:230px;
     height:60px;
     background:var(--secondary-color);
     color:#5F9EA0;
     font-size:45px;
     border:1px var(--secondary-color);
     position:absolute;
     bottom:-630px;
     left:670px;
     border-radius:10px;
     text-align:center;
     }
     
  .U:hover{
     background:#00FFFF;
     }
  